img {
    width: 3%;
}
body {
    margin: 0;
    background: url(../img/fond.jpg);
    background-size: cover;
    height: 100vh;
}

main {
    width: 80%;
    height: 90vh;
    
}


.login-form-1 {
    background-color: rgba(0, 0, 0, 0.37);
}