body {
    margin: 0;
    background: url(../img/fond.jpg);
    background-size: cover;
    height: 100vh;
}

main {
    width: 80%;
    height: 75vh;
    margin: 3% auto;
}

main header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: rgb(52, 82, 252);
    color: white;
    border-radius: 5px 5px 0 0;
}

#content {
    background-color: rgb(207, 207, 207);
    padding: 0.5%;
    height: 65vh;
    border-radius: 0 0 5px 5px;
    overflow: auto;
}

#iconeRechercher {
    font-size: 15px;
    color: black;
}

button {
    border: none;
}

#labels {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-left: 1%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.infos {
    width: 71%;
    display: flex;
    justify-content: space-between;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

span {
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
}