body {
    background: url(../img/fond.jpg);
    background-size: cover;
}

main {
    width: 100%;
    height: 90vh;
}

.login-form-1 {
    background-color: rgba(0, 0, 0, 0.37);
    height: 70vh;
}

#labels {
    display: flex;
    font-weight: bold;
    width: 60%;
}

li {
    list-style: none;
}

.infos {
    width: 68%;
}

span {
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
}

.conteneurInfos {
    width: 90%;
    cursor: pointer;
}

.boutons {
    width: 10%;
}

button,
select {
    width: 30%;
}

#aucunRapport {
    width: fit-content;
    font-weight: bold;
}

#idRapport {
    border: 2px solid white;
}

#rapports {
    height: 39vh;
    overflow: auto;
}

.modifier, .supprimer{
    border: none;
}